@page "/vacation/request"
@using MyBlazorApp.Client.Validation
@using MyBlazorApp.Shared.Models
@using System.Net
@inject HttpClient Http
@inject NavigationManager NavigationManager

<h1>Request Vacation</h1>
<hr />
<EditForm Model="@vacation" OnValidSubmit="Save">
    <DataAnnotationsValidator />
    <CustomValidation @ref="customValidation" />
    <ValidationSummary/>
        <div class="mb-3">
        <label for="DateFrom" class="form-label">DateFrom</label>
        <div class="col-md-4">
            <InputDate @bind-Value="vacation.DateFrom"/>
        </div>
        <ValidationMessage For="@(() => vacation.DateFrom)" />
    </div>
    <div class="mb-3">
        <label for="DateTo" class="form-label">DateTo</label>
        <div class="col-md-4">
            <InputDate @bind-Value="vacation.DateTo"/>
        <ValidationMessage For="@(() => vacation.DateTo)" />
        </div>
    </div>
@*    <div class="form-group">
        <label for="body">Select Vacation Status: </label>
        <div class="col-md-4">
            <InputSelect @bind-Value="@vacation.Status" >
          
                @foreach (var status in Enum.GetValues(typeof(VacationStatus)))
                {
            
                    <option value="@status">@status</option>
                }
            </InputSelect>
        </div>
        <ValidationMessage For="@(() => vacation.Status)" />
    </div>*@
    <div class="form-group">
        <button type="submit" class="btn btn-primary">Save</button>
        <button class="btn btn-light" @onclick="Cancel">Cancel</button>
    </div>
</EditForm>

@code {
    protected NewVacationDto vacation = new();
    private CustomValidation? customValidation;
    
    protected async Task Save()
    {
        customValidation?.ClearErrors();

        vacation.UserId = 1; // TODO: change later!!

        var response = await Http.PostAsJsonAsync("api/vacation", vacation);

        var content = await response.Content.ReadFromJsonAsync<Dictionary<string, List<string>>>();
        
        if (response.StatusCode == HttpStatusCode.BadRequest && content.Any())
        {
            customValidation?.DisplayErrors(content);
        }
        else
        {
            Cancel();
        }
    }

    public void Cancel()
    {
        NavigationManager.NavigateTo("/vacationlist");
    }
}
