@page "/worktime/add"
@using MyBlazorApp.Client.Validation
@using MyBlazorApp.Shared.Models
@using System.Net
@inject HttpClient Http
@inject NavigationManager NavigationManager

<h1>Add Work Time</h1>
<hr />
<EditForm Model="@work" OnValidSubmit="SaveWork">
    <DataAnnotationsValidator />
    <CustomValidation @ref="customValidation" />
    <ValidationSummary/>
    <div class="mb-3">
        <label for="Day" class="form-label">Day</label>
        <div class="col-md-4">
            <InputDate @bind-Value="work.Day"/>
        <ValidationMessage For="@(() => work.Day)" />
        </div>
    </div>
        <div class="mb-3">
        <label for="StartTime" class="form-label">StartTime</label>
        <div class="col-md-4">
            <input type="time" @bind="work.StartTime"></input>
        </div>
        <ValidationMessage For="@(() => work.StartTime)" />
    </div>
    <div class="mb-3">
        <label for="EndTime" class="form-label">EndTime</label>
        <div class="col-md-4">
            <input type="time" @bind="work.EndTime"></input>
        </div>
        <ValidationMessage For="@(() => work.EndTime)" />
    </div>
    <div class="mb-3">
        <label for="BreakTime" class="form-label">BreakTime</label>
        <div class="col-md-4">
            <input type="timekind" @bind="work.BreakTime"></input>
        </div>
        <ValidationMessage For="@(() => work.BreakTime)" />   
   
    </div>
    <div class="form-group">
        <button type="submit" class="btn btn-primary">Save</button>
        <button class="btn btn-light" @onclick="Cancel">Cancel</button>
    </div>
</EditForm>

@code {
  
    protected NewWorkTimeDto work = new();
    private CustomValidation? customValidation;
    
    //protected override async Task OnParametersSetAsync()
    //{

    //}

    protected async Task SaveWork()
    {
        customValidation?.ClearErrors();

        var response = await Http.PostAsJsonAsync("api/worktime", work);

        var content = await response.Content.ReadFromJsonAsync<Dictionary<string, List<string>>>();

        if (response.StatusCode == HttpStatusCode.BadRequest && content.Any())
        {
            customValidation?.DisplayErrors(content);
        }
        else
        {
            Cancel();
        }
    }

    public void Cancel()
    {
        NavigationManager.NavigateTo("/worktimelist");
    }
}
