@page "/worktimelist"
@using MyBlazorApp.Shared.Models
@inject HttpClient Http

<h1>Work Time</h1>
<p></p>
<div class="row">
    <div class="col-md-6">
        <a href='/worktime/add' class="btn btn-primary" role="button">
            <i class="fas fa-user-plus"></i>
            Add Work Time
        </a>
    </div>
    <div class="input-group col">
        <input type="text" class="form-control" placeholder="Search by day"
               @bind="SearchString" @bind:event="oninput" @onkeyup="FilterDay" />
        @if (SearchString.Length > 0)
        {
            <div class="input-group-append">
                <button class="btn btn-danger" @onclick="ResetSearch">
                    <i class="fas fa-times"></i>
                </button>
            </div>
        }
    </div>
</div>

<br />

@if (workList == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <table class="table table-striped align-middle table-bordered">
        <thead class="table-success">
            <tr>
                <th>Day</th>
                <th>StartTime</th>
                <th>EndTime</th>
                <th>Work</th>
                <th>BreakTime</th>
                <th>Notes</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var WorkTime in workList)
            {
                <tr>
                    <td>@WorkTime.Day.ToString("d",System.Globalization.CultureInfo.GetCultureInfo("en-GB")) </td>
                    <td>@WorkTime.StartTime.ToShortTimeString()</td>
                    <td>@WorkTime.EndTime.ToShortTimeString()</td>
                    <td>@WorkTime.Work=@WorkTime.EndTime.Subtract(@WorkTime.StartTime)</td>
                    <td>@WorkTime.BreakTime</td>
                    <td>@WorkTime.Notes</td>
                    <td>
                        <a href='/worktime/edit/@WorkTime.Id' class="btn btn-outline-dark" role="button">
                            Edit
                        </a>
                        <a href='/worktime/delete/@WorkTime.Id' class="btn btn-outline-danger" role="button">
                            Delete
                        </a>
                    </td>
                </tr>
            }
        </tbody>

    </table>
}

@code {
    protected List<WorkTimeDto> workList = new();
    protected List<WorkTimeDto> searchDay = new();
    protected string SearchString { get; set; }= string.Empty;

    protected override async Task OnInitializedAsync()
    {
        await GetWorkTimes();
    }
    protected async Task GetWorkTimes()
    {
        workList = await Http.GetFromJsonAsync<List<WorkTimeDto>>("api/worktime");
        searchDay = workList;
    }
    protected void FilterDay()
    {
        if (!string.IsNullOrEmpty(SearchString))
        {
            workList = searchDay
                .Where(w => w.Day.ToShortDateString() == SearchString)
                .ToList();
        }
        else
        {
            workList = searchDay;
        }
    }

    public void ResetSearch()
    {
        SearchString = string.Empty;
        workList = searchDay;
    }

}
